/* Colores */
:root {
    --Grisoscuro: #1E201E;
    --Grisclaro: #DFDFDF;
    --Gris: #808080;
    --Beige: #ECDFCC;
    --Verde: #0CA789;
    --VerdeHover: #098169;
    --blanco: #ffffff;
    --negro: #000000;
    --footer: #212121;
    --color-raya: #e1e1e1; 
    --texto-footer: #9e9797;
    --dona: #E6E6E6;
    
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem; /*1Rem = 10px*/
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--blanco);
}

/* Tipografía */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}
/* Color de todo el texto tipo parrafo */
p {
    color: var(--blanco);
}



/* HEADER */
.contenido-hd {
    display: flex;
    align-items: center;
}

.contenido-hd h1 {
    color: var(--blanco);
    padding: 1rem;
}

.logo {
    background-image: url(sources/END_LOGO.png);
    height: 8rem;
    width: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.video{
    height: auto;
    width: auto;
}

.video img {
    margin: 2rem;
    /* height: 20rem;*/
    width: 95%;
    /* margin: 20rem 10rem; */
} 



/* BARRA DE NAVEGACIÓN */
.nav-bg {
    background-color: var(--Grisoscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* display: flex; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.zona-izq{
    display: flex;
    align-items: center;
}

.zona-izq h1{
    margin-left: 10px;
    color: var(--blanco);
}

.cont-navbar {
    display: flex;
    margin: 0 0.5rem;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 1.5rem;
}

.cont-navbar a {
    color: var(--blanco);
    text-decoration: none;
}



/* CONTENIDO DONATIVO */

/* .bg{
    background-color: #1c1a25;
} */

.titulo-donativo {
    background-color: #1c1a25;
    padding: 1.5rem;
    text-align: center;
    width: 92%;
    margin: 0 auto;
}

.titulo-donativo h2 {
    color: white;
}

.cont-donativo {
    display: flex;
    background-color: var(--Grisclaro);
    padding: 1rem;
    /* height: 100%; */
    margin: 0rem 7.5rem;
    margin-bottom: 3rem;
}

.cont-info{
    background-color: var(--dona);
    margin: 2rem;
    border-radius: 30px;
    text-align: justify;
    max-width: 50%;
    /* height: 100%; */
    /* border: 0.2rem solid black; */
    padding: 0.1rem 3rem;
}

.cont-info h2{
    text-align: center;
}

.cont-info p{
    color: #1c1a25
}

.donativo{
    /* display: inline-block; */
    display: block;
    background-color: var(--dona);
    width: 50%;
    border-radius: 30px;
    padding: 0.1rem 3rem;
    text-align: center;
    /* align-items: center; */
}

.donativo h2{
    text-align: center;
}

.input {
    color: var(--negro);
    font-size: 2rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
    outline: none;
}

.input:focus + .input-border {
    width: 100%;
}

.form-control {
    position: relative;
    --width-of-input: 300px;
}

.input-alt {
    font-size: 1.2rem;
    padding-inline: 1em;
    padding-block: 0.8em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {
    height: 3px;
    background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus + .input-border-alt {
    /* align-content: center; */
    width: 100%;
}

/* DISEÑOS DE LOS BOTONES */

.donativo .boton {
    color: var(--negro);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    width: 20%;
    margin: 13px;
}

.donativo .boton:hover {
    background-color: var(--VerdeHover);
    border-color: var(--VerdeHover);
    color: var(--blanco);
}

.donativo .boton-aceptar {
    color: var(--negro);
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    width: 20%;
    margin: 30px 15px;
}

.donativo .boton-aceptar:hover {
    background-color: var(--Grisoscuro);
    border-color: var(--Grisoscuro);
    color: var(--blanco);
}

.donativo .boton-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los botones se acomoden en filas si es necesario */
    gap: 10px; /* Añade espacio entre los botones */
}



/* SECCION DEBAJO DE LA DONACIÓN */
.about-services{
    /* background: #f2f2f2; */
    padding-bottom: 30px;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
    color: var(--negro);
}



/* FOOTER */
footer{
    background: var(--footer);
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--blanco);
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--blanco);
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--blanco);
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: -.6em;
    margin-left: 1.2em;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: var(--blanco);
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
}

.card1:hover .instagram {
    fill: var(--blanco);
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}

.card2:hover .twitter {
    fill: var(--blanco);
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: var(--negro);
}

.card3:hover .github {
    fill: var(--blanco);
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}

.card4:hover .discord {
    fill: var(--blanco);
}

.contenedor-footer{
        display: flex;
        width: 90%;
        justify-content: space-evenly;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid var(--texto-footer);
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: var(--blanco);
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: var(--texto-footer);
}

.content-foo p a{
    color: var(--texto-footer);
    text-decoration: none;
}

.content-foo p a:hover{
    color: var(--blanco);
    text-decoration: none;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}



/* EFECTO RAYA DE LA ETIQUETA A */
a{
    color: var(--color-raya);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

a:focus,
a:hover {
    color: var(--blanco);
}

a:focus:after,
a:hover:after {
    width: 100%;
    left: 0%;
}

a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--blanco);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* MEDIA QUERY */
@media screen and (max-width:900px){
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 70%;
    }
}

/* @media screen and (max-width:500px){

} */